
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/config/
/src/Controller/ObjectController.php
/.env
/symfony.lock
/composer.lock
/.idea/
/public/js/vendor/
/public/css/vendor/