<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Countdown Numbers Experiment</title>
        <link rel="stylesheet" href="{{ asset('css/countdown.css') }}" />
        <script src="{{ asset('js/vendor/vue/vue.min.js') }}"></script>
        <script src="{{ asset('js/countdown.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
